.container{
    background-color: #001e6e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    font-size: 15pt;
    color: white;
}

.flexboxOne, .flexboxThree{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexboxTwo{
    flex-direction: column;
}

.flexboxTwoUl{
justify-content: space-around;
}

.flexboxTwo-paragraph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #c80032;
}
