.container{
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.flexboxOne, .flexboxTwo, .flexboxThree{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}